#picNo2 {
    background-image: url(../../Picture/no2.png);
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.section-username {
    margin: -732px 561px;
    font-size: 48px;
    font-weight: bold;
}

#VocabularyTreasury-details {
    text-align: center;
    margin-top: -116px;
    font-size: 32px;
    font-weight: bold;
  }

#dateplay-details {
    color: #fff;
    margin: -32px 0px;
    font-size: 12px;
    font-weight: bold;
}

.Menu-VT {
    margin: 78px 0px -7px 22px;
  }
  
