#picNo2 {
  background-image: url(../../Picture/no2.png);
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.section-username {
  margin: -744px 561px;
  font-size: 48px;
  font-weight: bold;
}

/* .Option{
  display: flex;
  margin-left: auto;
  margin-right: auto;
} */

#category-details {
  text-align: center;
  margin-top: -116px;
  font-size: 32px;
  font-weight: bold;
}

.Menu {
  margin: 56px 0px -17px 34px;
}