#picNo2 {
<<<<<<< HEAD
  background-image: url(../../Picture/no2.png);
=======
  background-image: url(../../picture/no2.png);
>>>>>>> 7cf0c02fd8f3abe7184f7bc35fd9f48104515c81
  /* background-size: cover; */
  height: 100vh;
  background-size: 100% 100%;
  /* margin-top: -70px; */
  /* font-size: 50px; */
  /* background-repeat: no-repeat; */
}

.section-username {
  margin: -744px 561px;
  font-size: 48px;
  font-weight: bold;
}
