.username {
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.frame-username {
  display: flex;
  margin: 28px 0px 28px 51px;
}

.description-username {
  color: #fff;
  margin: -14px 0px 0px 18px;
=======
.icon1-username {
  background-image: url(../../Picture/no6.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  content: "";
  margin: -60px 999px;
}

.icon2-username {
  background-image: url(../../Picture/no7.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  content: "";
  margin: 10px 1068px;
>>>>>>> f6a134eccf02194e8422f1f996b72eadcbfc3b51
}

.group-icon {
  display: flex;
  margin: 28px 51px 0px 0px;
}