.backgroundLogin {
  background: url(../../Picture/backgroundLogin.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Set up positioning */
  position: fixed;
}

.logo {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

form {
  text-align: center;
}

.boxLogin {
  position: relative;
  background-color: rgb(216, 235, 240, 0.8);
  width: 780px;
<<<<<<< HEAD
  height: 835px;
  border-radius: 50px 50px 50px 50px;
  margin: 40px auto 0 auto;
=======
  height: 805px;
  border-radius: 50px 50px 50px 50px;
  margin: 20px auto 0 auto;
>>>>>>> bf899e5a0610e8b8957c9352583c515921366d3a
}

.login {
  position: absolute;
}

.box-or {
  display: inline-block;
  margin: 20px 0 20px 0;
}

.box-container {
  display: flex;
  align-items: center;
  margin-left: 16px;
  width: 742px;
}

.box-container hr {
  width: 315px;
  border-width: 0.4px;
  border-color: black;
}

.box-login {
  margin: 20px 0 20px 0;
}

.btn-login-other {
  margin: 20px 0 20px 0;
}

.btnFacebook {
  background-color: #3764b9;
}
