.main-game {
    display: grid;
}

.bg-game {
    background-image: url("../../src/img-game/bg-game.png");
    /* position: fixed;
    background-size: contain;
    height: 1100px;
    margin: 0px 0px;
    background-repeat: no-repeat; */
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#menu {
    margin: 30px 20px;
}

#stop {
    margin: -75px 1400px;
}

#bg-word {
    margin: -630px 230px;
}

#bg-word1 {
    margin: -510px 230px;
}

#bg-word2 {
    margin: -390px 230px;
}

#bg-word3 {
    margin: -270px 230px;
}

#bg-word4 {
    margin: -150px 230px;
}

#bg-word5 {
    margin: -630px 480px;
}

#bg-word6 {
    margin: -510px 480px;
}

#bg-word7 {
    margin: -390px 480px;
}

#bg-word8 {
    margin: -270px 480px;
}

#bg-word9 {
    margin: -150px 480px;
}

#bg-word10 {
    margin: -630px 800px;
}

#bg-word11 {
    margin: -510px 800px;
}

#bg-word12 {
    margin: -390px 800px;
}

#bg-word13 {
    margin: -270px 800px;
}

#bg-word14 {
    margin: -150px 800px;
}

#bg-word15 {
    margin: -630px 1050px;
}

#bg-word16 {
    margin: -510px 1050px;
}

#bg-word17 {
    margin: -390px 1050px;
}

#bg-word18 {
    margin: -270px 1050px;
}

#bg-word19 {
    margin: -150px 1050px;
}

#word-bg {
    margin: 10px 160px;
}

.bg-stop {
    /* display: block; */
    position: absolute;
    background-image: url("../../src/img-game/bg-stop.png");
    /* position: fixed; */
    background-size: contain;
    height: 350px;
    margin: 250px 580px;
    background-repeat: no-repeat;
    z-index: 1;
}

#btn-add {
    margin: 55px 120px;
}

#btn-edit {
    margin: -20px 40px;
}

#btn-exit {
    margin: -65px -120px;
}

.menu-bg {
    /* display: block; */
    position: absolute;
    background-image: url("../../src/img-game/bg-stop.png");
    /* position: fixed; */
    background-size: contain;
    height: 350px;
    margin: 250px 580px;
    background-repeat: no-repeat;
    z-index: 1;
}

#btn-main {
    margin: 55px 120px;
}

#btn-setting {
    margin: -20px 40px;
}

#btn-treasury {
    margin: -20px 20px;
}

.box-game {
    display: flex;
    justify-content: center;
    margin: 60px;
    position: relative;
    background-color: rgb(216, 235, 240, 0.8);
    width: 1200px;
    height: fit-content;
    border-radius: 50px 50px 50px 50px;
    margin: 15px auto 0 auto;
    padding: 30px;
}

.boxVocab {
    display: grid;
    grid-template-columns: repeat(2, 590px);
}

.boxVocabEng,
.boxVocabThai {
    /* margin-top: 10px;
    background-color: #0c3f70;
    width: 184px;
    text-align: center;
    border-radius: 11px 11px 11px 11px;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer; */
    margin-top: 10px;
    background-color: #0c3f70;
    height: 58px;
    text-align: center;
    border-radius: 11px 11px 11px 11px;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

#word {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    /* height: -moz-fit-content; */
    height: fit-content;
    gap: 10px;
    column-gap: 30px;
    justify-content: center;
}