/* แท็บข้าง */
/* .tab-history {
    display: grid;
    margin: 200px 0px 0px 40px;

}

#bg-tab {
    position: fixed;
    width: 110px;
    height: 550px;
}

#home {
    margin: 32px 25px;
    position: fixed;
}

#treasury {
    margin: 132px 25px;
    position: fixed;
}

#history {
    margin: 232px 25px;
    position: fixed;
}

#setting {
    margin: 332px 25px;
    position: fixed;
}

#log-out {
    margin: 432px 25px;
    position: fixed;
}

.tab-text {
    margin: 140px 25px;
    position: fixed;
}

#home-text {
    margin: 90px 25px;
}

#treasury-text {
    margin: 190px 35px;
}

#history-text {
    margin: 290px 30px;
}

#setting-text {
    margin: 390px 35px;
}

#log-out-text {
    margin: 490px 10px;
} */

/* #bg-tab {
    position: relative;
}

#container-tab {
    position: absolute;
} */

.main {
    /* position:absolute ; */
    position: fixed;
}

/* พื้นหลัง */
#bg-his {
    background-image: url("../../src/img-his/his.jpeg");
    /* position: fixed;
    background-size: contain;
    width: 100%;
    height: 100%;
    margin: -200px 0px;
    background-repeat: no-repeat; */
}

/* ข้อความ */
.text-title {
    font-size: 23px;
    position: fixed;
    margin: -16px 36px;
}

#tt1 {
    position: fixed;
    margin: 30px 10px;
}

#tt2 {
    position: fixed;
    margin: 30px 400px;
}

#tt3 {
    position: fixed;
    margin: 30px 700px;
}

#tt3-1 {
    position: fixed;
    margin: 30px 764px;
}

.text {
    font-size: 20px;
    position: fixed;
    margin: 60px 340px;
}

#t1 {
    position: fixed;
    margin: 5px -148px;
}

#t2 {
    position: fixed;
    margin: 5px 108px;
}

#t3 {
    position: fixed;
    margin: 5px 435px;
}



#bghisword {
    position: fixed;
    /* margin: -170px 0px; */
}

#cross {
    position: fixed;
    /* margin: -160px 1380px; */
}


/* #hisarrow{
    visibility:hidden;
} */

/* title history */
.rec-history {
    margin-right: auto;
    margin-left: 0;
    margin-top: 1rem;
    width: 295px;
    height: 62px;
    background-color: #fff;
    text-align: center;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.his-container {
    width: 263px;
    height: 62px;
    position: absolute;
    color: #fff;
    background-color: #14374A;
    text-align: center;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin: -52px 0;
}

.backgroundHistory {
    background-image: url(../img-his/his.jpeg);
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.boxHistory {
    position: relative;
    background-color: rgb(216, 235, 240, 0.8);
    width: 968px;
    height: 630px;
    border-radius: 50px 50px 50px 50px;
    margin: -55px 296px 0px 296px;
}

#line {
    position: fixed;
    /* margin: 30px 320px; */
    margin: 51px 32px;
    width: 886px;
}

/* ตรงกลางหน้า */
#hisarrow {
    position: fixed;
    margin: 72px 876px;
}

#toparrow {
    position: fixed;
    margin: 72px 876px;
}

#hideline {
    position: fixed;
    /* margin: 30px 320px; */
    margin: 120px 32px;
    width: 886px;
}

/* ที่ซ่อน */
.text-click {
    position: absolute;
}

#hidetext1 {
    position: fixed;
    margin: 120px 47px;
}

#hidetext2 {
    position: fixed;
    margin: 155px 47px;
}

#hidearrow {
    position: fixed;
    margin: 360px 180px;
}